
.footer-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.footer-logo {
  color: #3aa0ff;
}

.footer-section {
  display: flex;
  flex-direction: column;
    margin-left: -196px;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: rgb(39, 158, 212);
  font-size: 32px;
}

.footer-section a {
  text-decoration: none;
  color: #bbb;
  transition: 0.3s;
  font-size: 18px;
}

.footer-section a:hover {
  color: #3aa0ff;
}

.social-icons a {
  display: block;
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #222;
  padding-top: 15px;
  font-size: 14px;
}