<nav class="navbar">
    <div class="logo">
        TechNest
    </div>

    <ul class="menu">
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/carrito">Carrito</a></li>
        <li><a routerLink="/recomendador">Recomendador Piezas</a></li>
        <li><a routerLink="/pedidos"> Mis Pedidos</a></li>
    </ul>

    <div class="user-menu">
        <img
            [src]="userImage || 'assets/default-avatar.png'"
            class="avatar"
            (click)="toggleMenu()"
            *ngIf="userImage"
        />
        <div
            *ngIf="!userImage"
            class="avatar avatar-placeholder"
            (click)="toggleMenu()"
        >
            {{ userName ? userName.charAt(0).toUpperCase() : 'U' }}
        </div>

        <ul *ngIf="menuOpen" class="dropdown">
            <li><a (click)="goToPerfil()" class="texts">Mi perfil</a></li>
            <li (click)="logout()" class="texts">Salir</li>
        </ul>
    </div>
</nav>
