<div class="tech-container">
  <header class="tech-header">
    <h1 class="logo-text">TECHNEST<span>.CORE</span></h1>
    <div class="scan-line"></div>
  </header>

  <main class="tech-card">
    <section class="card-content">
      <h2>Hardware Validator</h2>
      <p class="status-text">SYSTEM READY // AWAITING INPUT</p>

      <form class="tech-form">
        <div class="field">
          <label>PROCESSOR</label>
          <input type="text" [(ngModel)]="hardware.cpu" name="cpu" placeholder="Ryzen 7 5700X" class="dark-input">
        </div>

        <div class="field">
          <label>GRAPHICS CARD</label>
          <input type="text" [(ngModel)]="hardware.gpu" name="gpu" placeholder="RTX 5060" class="dark-input">
        </div>

        <div class="field">
          <label>MOTHERBOARD</label>
          <input type="text" [(ngModel)]="hardware.mobo" name="mobo" placeholder="Asus Prime B550M-A AC" class="dark-input">
        </div>

       <button type="button" class="action-button" (click)="executeAnalysis()">
          EXECUTE ANALYSIS
        </button>
      </form>
      <div class="result-area" *ngIf="cargando || resultadoIA">
  <div class="divider"></div>
  
  <div *ngIf="cargando" class="loading-text">
    SOLICITANDO DATOS AL NÚCLEO...
  </div>

  <div *ngIf="resultadoIA" class="ai-response">
    <h3>INFORME DE COMPATIBILIDAD:</h3>
    <p [innerHTML]="resultadoIA"></p>
  </div>
</div>
    </section>
  </main>
</div>